body {
  background-image: url("./images/typeBg.jpg");
  background-size: cover;
  overflow: hidden;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
  justify-content: flex-start;
}

.container {
  color: antiquewhite;
  height: 300px;
  width: 450px;
  padding: 20px;
  margin-left: 14vw;
  box-shadow: 0 6px 60px rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: rgba(12, 20, 19, 0.6);
}

.textarea {
  resize: none;
  width: 100%;
  height: 50%;
  font-size: 20px;
  font-family: sans-serif;
  box-sizing: border-box;
  border: solid 2px darkgray;
}

textarea::placeholder {
  color: darkgray;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 5px;
}

.counter-container p {
  color: antiquewhite;
}

.total-counter {
  color: slateblue;
}

.remain-counter {
  color: orangered;
}
